*{
    margin: 0;
    padding: 0;
  }
  
.info
{
    display: inline-block;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    padding-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    font-family: 'Josefin Sans', sans-serif;
    float: right;

}


.background{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    padding-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    
}


.hobbies{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0rem 1rem 1rem 1rem;
}