nav {
    background-color: #182430;
    display: flex;
    text-align: center;
    height: 150px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    color: white;}
    
  
    a{
      color: white;
      text-decoration-style: none;
  }

  

  a:hover {
    transform: scale(1.3)
  }
  
.wrapper{
  scroll-behavior: smooth;
  width: 100%;
}



body{
  background-image: url(/Resources/images/25.jpg);
  margin: 0%;
  padding: 0%;
}
/*ME*/

.me{
 background-color: #182430;
 color: white;
 display: inline-block;
 text-align: center;
 margin: 7cm 0px 7cm 0px;
 padding: 0px 0px 15px 0px;
}

.me > h1{
  text-align: center;
  align-items: center;
  justify-content: center;
 
}


  /*Experience*/



    .progressbars{
      background-image: url(/Resources/images/sourcecode.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #182430;
      color: white;
      margin: 2cm 0px Opx 0px;
      padding-bottom: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      
    }
   
   
    
    /*my work*/

    .work {
      margin-top: 9rem;
      background-image: url(/Resources/images/workhomepic.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }

    .work  a {
      color: darkblue;
    }


    .contact {
      background-color: #182430;
      color: white;
      justify-content: center;
      text-align: center;
      margin: 20rem 0rem 2rem 0rem;

    }


    .images{
      background-image: url(/Resources/images/workhomepic.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 5rem 5rem 5rem;
    }

    .workimg{
      width: 300px;
      height: 300px;
    }
.chess {
  width: 300px;
  height: 300px;
}

.multipage {
  width: 300px;
  height: 300px;
}

