.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 15px;
    align-content: space-around;
    position: sticky;  
}

.carousel-control-prev {
    height:250px ;
}

  .carousel-inner >{
    height: 250px;
 }

 .carousel-item-active {
     height:250px ;
 }

  .carousel-item {
      height: 250px;
  }

 